form {
    display: table;
    margin: 0 auto;
}

#createVentaInput {
    padding-left: 35px;
}
input {
/*    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: ghostwhite;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 8px 15px 8px 15px;
    */
    margin: 0px 5px;
    
    transition: 0.5s ease;
} 

input[type=number] {
    width: 80px;
}

/*input:active {
    box-sizing: border-box;
    border: 2px solid #0096ed;
    border-radius: 4px;
}*/

input:focus {
    box-sizing: border-box;
    border: 2px solid #0096ed;    
}

nav {
    width: 300px;
    display: inline-block;
}

#numberNav {
    width: 80px;
}

#numberNav input {
    padding: 0px 10px;
    width: 75px
}

#numberNav input:focus {
    border-bottom-color:  inactiveborder !important;
    /*width: 50px*/
}
button {
    margin-left: 10px;
}
botton:hover {
    opacity: .6 !important;
}
botton:focus {
    opacity: .6 !important;
}

botton:active {
    opacity: .6 !important;
}

.collection {
    position: absolute;
    width: 300px;
    margin:0;
    z-index: 12;
    max-height: 200px;
    overflow-y: scroll;
}
@media screen and (max-width:850px){
    nav {
        width: 60%;
        /*height: 90px*/
    }
    #numberNav {
        width: 20%;
        
    }
    #numberNav input{
        padding: 0px 0px;
        
    }
}