<form (submit)="create()">
    
 <nav class="white">
    <div class="nav-wrapper">      
        <div class="input-field">
          <input id="createVentaInput" type="search"  list="browsers"
                 [(ngModel)]="articuloSearch.articulo" name="articulo" 
                 class="black-text"  autocomplete="off">

          <!--<datalist id="browsers">
            <option value="Chrome">
            <option value="Firefox">
            <option value="Internet Explorer">
            <option value="Opera">
            <option value="Safari">
          </datalist>-->

          <label class="label-icon" for="search"><i class="material-icons grey-text">search</i></label>
          <i class="material-icons grey-text" (click)="deleteInput()" 
             *ngIf="articuloSearch.articulo != ''">close</i>
        </div>                                 
    </div>
</nav>
    
<!--Sugerencias Box-->
    <div class="collection" *ngIf="articuloSearch.articulo != ''">
        <a class="collection-item" 
           *ngFor="let producto of productos | sugerencias:articuloSearch.articulo"
           (click)="selectSugerencia(producto.producto)">
           {{ producto.producto }}</a>    
    </div>    
  
<!--Cantidad de productos a comprar-->
  <nav class="white" id='numberNav'>          
        <div class="input-field">
          <input type="number" [(ngModel)]="articuloSearch.cantidad" name="cantidad" class="black-text">                    
        </div>                                      
  </nav>  
  <button class="btn-floating orange " ><i class="material-icons right">add</i></button>  
    
</form>    