.createBtn {
    border: none;
    padding: 10px;
    background: #00A800;
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 3px;
}

#createBtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#search {
    padding: 10px 40px 10px 10px;
    width: 300px;
    border: none;
    background: #EBEBEB;
    margin-left: 15px;
}

#search+label {
    position: absolute;
    padding-top: 5px;
    margin-left: -30px;
}

.danger {
    background: rgb(194, 1, 1);
}

.advice {
    background: orange;
}