<h1 class="routeTitle">Inventario {{ countProduct()}} / {{ storage.getLimitProduct() }}</h1>

<input [(ngModel)]="search" name="search" type="text" id="search" placeholder="Buscar Producto"><label><mat-icon>search</mat-icon></label>


<!-- <button class="createBtn" (click)="createPro = !createPro">Agregar Producto</button> -->

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Reorden</th>
            <th *ngIf="storage.getUserType() > 1">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | filterInventory:search" [ngClass]="{ 'advice': product.stock < product.reorder && product.stock > 0, 'danger': product.stock < 1 }">
            <td>{{ product.name | lowercase }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.reorder }}</td>
            <td *ngIf="storage.getUserType() > 1">
                <mat-icon>add_shopping_cart</mat-icon>
                <a [routerLink]="['/inventory/edit', product.id]">
                    <mat-icon>edit</mat-icon>
                </a>
                <mat-icon>delete</mat-icon>
            </td>

        </tr>

    </tbody>
</table>
<a [routerLink]="['/inventory/create']" *ngIf="storage.getUserType() > 1 && validateLimitProduct()">
    <button mat-fab id="createBtn" (click)="createPro = !createPro">
        <mat-icon >add_shopping_cart</mat-icon>
    </button>
</a>

<!-- <app-new-product *ngIf="createPro" (closeEvent)="createPro = false" (createEvent)="newProduct($event)"></app-new-product> -->
<router-outlet></router-outlet>