<h4 style="margin: 0">Total: ${{ sale.total }}</h4>

<table class="responsive-table striped centered">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>    
    </thead>
    <tbody>
        <tr *ngFor="let articulo of sale.articulos">
            <th>{{ articulo.producto }}</th>
            <th>{{ articulo.precio }}</th>
            <th>{{ articulo.cantidad }}</th>
            <th>{{ articulo.subtotal }}</th>
            
            <th class="btnTable" >
                <button class="btn blue" (click)="articulo.editable = !producto.editable" 
                    md-mini-fab><i class="material-icons">mode_edit</i>
                </button>
            </th>
            <th class="btnTable">
                <button class="btn red" (click)="destroy(articulo)"
                    md-mini-fab><i class="material-icons">delete</i>
                </button>
            </th>
            
            <!--<button md-mini-fab><md-icon>check</md-icon></button>-->
            
<!--            <app-edit-inventario [producto]="producto" 
                *ngIf="producto.editable!"
                (updateProductoEvent)="update($event)"></app-edit-inventario>-->
            
        </tr>
    </tbody>
</table>


<!--{{ sale | json }}-->