<h1 class="routeTitle">Registro de Ventas</h1>

<input type="date" id="search"><label><mat-icon>date_range</mat-icon></label>




<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Total</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let sale of sales" [routerLink]="['/sales', sale.id]">
            <td>{{ sale.id }}</td>
            <td> ${{ sale.total }}</td>
            <td>{{ sale.created_at | date: format }}</td>
            <td>{{ sale.created_at | date: 'hh:mm a' }}</td>
        </tr>


    </tbody>
</table>

<router-outlet></router-outlet>