.btn {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.btnSale {
    background: rgb(12, 180, 12);
    transition: 1s;
}

input {
    margin: 0;
}

.btnSale:hover {
    background: rgb(42, 255, 42);
    transform: scale(1.05);
}

.btnCancel {
    background: red;
    transition: 1s;
    width: initial;
}

.btnCancel:hover {
    background: rgb(179, 0, 0);
}

.btnSearch {
    margin-top: 0;
    background: rgb(12, 119, 241);
    width: initial;
    border-radius: 10px;
    height: 30px;
}

.totalForm {
    position: absolute;
    right: 15px;
    margin-top: -30px;
}

tbody {
    max-height: 80vh;
    overflow-y: scroll;
}

td input {
    width: 75px;
    background: white;
    text-align: center;
}

td input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.options {
    color: darkred;
    position: absolute;
    top: 1px;
    right: 15px;
}

.options p {
    margin: 0;
}

.options p mat-icon {
    transform: scale(.7);
    position: relative;
    bottom: -6px;
}

#createBtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: #F44336 !important;
    color: white;
    transition: .4s;
}

#createBtn:focus {
    box-shadow: 0 5px 8px -1px rgba(0, 0, 0, .2), 0 9px 14px 0 rgba(0, 0, 0, .14), 0 3px 24px 0 rgba(0, 0, 0, .12);
    transform: scale(1.15);
}

.floatOptions {
    position: fixed;
    bottom: 15px;
    right: 15px;
    /* overflow: hidden; */
}

.floatOptions:hover .moreOptions {
    opacity: 1;
    transform: translateY(0);
    margin-bottom: 12px;
}

.floatOptionPrincipal:focus .moreOptions {
    opacity: 1;
    margin: 0;
    transform: translateY(0);
}

.floatOptionPrincipal {
    background: #ff0057;
    color: white;
    bottom: 0px;
    right: 0px;
}

.moreOptions {
    /* width: 50px; */
    display: flex;
    flex-wrap: wrap;
    width: 55px;
    margin-bottom: 10px;
    transition: .5s;
    opacity: 0;
    margin-bottom: -150px;
    /* transform: translateY(80%); */
}

.moreOptions button {
    /* margin-bottom: 5px; */
    transform: scale(.7);
    margin-bottom: -10px;
}

#cancelButton {
    background: #c62828;
}

#searchButton {
    background: #4caf50;
}

#sellButton {
    background: #039be5;
}

@media screen and (max-width: 750px) {
    .responsive-table {
        max-height: 75vh;
        overflow: scroll;
    }
    .options {
        display: none;
    }
    .totalForm {
        position: absolute;
        top: 5px;
        font-size: 18px;
        z-index: 4;
        margin: 0;
    }
    .divSearch {
        width: ;
    }
    #search {
        margin: 0 auto;
        width: 85vw;
        transition: 1s;
        padding-left: 15px;
    }
    #search:focus {
        width: 95vw;
    }
    .btnSearch {
        display: none;
    }
    .btnSale {
        width: 75%;
    }
    .btnSaleNone {
        width: 75%;
    }
}