<h1>Punto de Venta</h1>
<app-sale-create (articuloSearchEmitter)="articuloSearch($event)"
    [productos]="productos"></app-sale-create>
<app-sale-list [sale]="sale"
        (destroyArticuloEmitEvent)="eliminarArticulo($event)"
    ></app-sale-list>

<button (click)="ventaPro()" *ngIf="saleReady"
        class="btn green white-text pulse"
         >
            <i class="material-icons left">shopping_cart</i>
                Vender
</button>

<button *ngIf="!saleReady" class="btn disabled">
            <i class="material-icons left">shopping_cart</i>Vender
</button>

<a class="btn btn-floating btn-large green pulse"
   id="venderBtn"
   (click)="ventaPro()" *ngIf="saleReady">
    <i class="material-icons">shopping_cart</i>
</a>

<a class="btn btn-floating btn-large disabled"
   id="venderBtn"
    *ngIf="!saleReady">
    <i class="material-icons">shopping_cart</i>
</a>




<div class="ventaProcess" *ngIf="ventaProcess">
    <div class="ventaCancel" (click)="cancelVenta()"></div>
    <div class="ventaProcessForm">
        <div class="cantidadPago" *ngIf="ventaForm">
            <form (submit)="cambio()">
                <h3>Total: ${{ sale.total }}</h3>
                <span>¿Con cuanto paga?</span>
                <input type="number" [(ngModel)]="pago" name="pago" min="0" id="cantidadAPagar" placeholder="$$$">
            </form>
            <button class="btn blue">Aceptar</button>
            <button class="btn red" (click)="cancelVenta()">Cancelar</button>
        </div>
        <div class="confirmarVenta" *ngIf="ventaConfirm">
            <h5>Cambio: ${{ cambioVenta }}</h5>
            <button class="btn blue" id="finishVenta" (click)="vender()">Aceptar</button>
            <button class="btn red" (click)="cancelVenta()">Cancelar</button>
        </div>
        
    </div>
</div>