<div class="editProductoContent">
  <div class="editProductCancel" (click)="producto.agregar = !producto.agregar"></div>
  <div class="editProductoForm">
    <button class="cancelarNuevoProducto btn red "
            (click)="producto.agregar = !producto.agregar">
      Cancelar
    </button>

    <h3>{{ producto.producto }}</h3>
    <form (submit)="update()" (keyup)="check()">
       <h5>Inventario: {{ articuloInformacion.inventario}}</h5>     
      <span>Cantidad:</span><br>
      <input type="number" name="cantidad" [(ngModel)]="articuloInformacion.cantidad">                        
      
      <br><br>
      <button class="btn blue">Agregar</button>

    </form>

  </div>

</div>