/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
}

.routeTitle {
    text-align: center;
}

.responsive-table {}

.responsive-table:hover {
    overflow-x: scroll;
}

.alignLeft {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: grey;
    text-align: center;
}

thead {
    background: whitesmoke;
    display: table-header-group;
    vertical-align: middle;
    border-bottom: 1px solid rgb(194, 194, 194);
}

td {
    padding: 5px 5px;
    text-transform: capitalize;
}

tr:hover {
    background: rgb(235, 235, 235);
    cursor: pointer;
}

tr {
    padding: 5px 4px;
    height: 50px;
    transition: .5s;
    border-bottom: 1px solid rgb(233, 233, 233);
    ;
}

th {
    padding: 5px;
}

@media screen and (max-width: 750px) {
    .responsive-table {
        overflow-x: scroll;
    }
    .tbody {
        text-transform: capitalize;
    }
    td {
        font-size: 14px;
    }
    .routeTitle {
        font-size: 20px
    }
}

#headerCard {
    background-color: #3f51b5;
    color: white;
    padding: 10px 30px 10px 30px;
}

.closeCardBackground {
    background: rgba(0, 0, 0, .5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9
}

.closeIcon {
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 0px;
    font-size: 25px;
    color: #D1D1D1;
    cursor: pointer;
}

.cardSpace {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.cardModule {
    border-radius: 3px;
    width: 50%;
    max-width: 1000px;
    -webkit-box-shadow: 0px 0px 57px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 57px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 57px -4px rgba(0, 0, 0, 0.75);
    background: white;
    padding: 25px;
    z-index: 10;
    position: relative;
}


/* formularios inputs and buttons */

input,
select {
    border: none;
    background: #ECECEC;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 7px;
    width: 100%;
}

.btn {
    width: 100%;
    padding: 10px;
    color: white;
    transition: .45s;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.btnAccept {
    background: lightseagreen;
}

.btnAccept:hover {
    background: rgb(0, 129, 123);
}

.btnAccept:focus {
    background: rgb(0, 129, 123);
}

.btnCancel {
    background: rgb(255, 0, 0);
}

.btnCancel:focus {
    background: rgb(190, 0, 0);
}

.btnCancel:hover {
    background: rgb(190, 0, 0);
}

.inputError {
    background: rgb(243, 181, 181)
}

.inputVerified {
    background: rgb(178, 236, 178)
}

.smallError {
    text-align: right;
    width: 100%;
    float: right;
    color: red;
    position: absolute;
    margin-top: -7px;
    left: 0;
}

.loadingForm {
    opacity: .4 !important;
}

.barLoader {
    width: 100%;
    z-index: 100;
    position: fixed !important;
    top: 0;
}

.mat-progress-bar {
    top: 0;
    left: 0;
}

.mat-spinner {
    position: absolute !important;
    margin: 0 auto;
    z-index: 100;
    display: block;
    right: 0;
    left: 0;
    margin-top: 80px;
}

@media screen and (max-width: 750px) {
    .cardModule {
        width: 90%;
        max-height: 80%;
        overflow-y: scroll;
    }
}


/* Inputs Grid Styles */

.input {
    display: block;
}

.l12 {
    width: 100%;
}

.l9 {
    width: 75%;
}

.l6 {
    width: 49%;
}

.l4 {
    width: 32%;
}

.l3 {
    width: 24%;
}

@media screen and (max-width: 600px) {
    .l9 {
        width: 100%;
    }
    .l6 {
        width: 100%;
    }
    .l4 {
        width: 49%;
    }
    .l3 {
        width: 49%;
    }
}