<h5>Productos bajos en inventario</h5>
<table class="striped">
  <thead>
    <tr>
      <th>Producto</th>      
      <th>Inventario</th>
      <th>Reorden</th>
      <th>Agregar</th>        
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of  lessProduct">
      <th>{{ producto.producto }}</th>      
      <th>{{ producto.inventario }}</th>
      <th>{{ producto.reorden }}</th>

      <th><button class="btn green" (click)="producto.agregar = !producto.agregar">Agregar</button></th>      
      
      
      <app-agregar-inventario [producto]="producto"
                              *ngIf="producto.agregar"
                              (addProductoEvent)="agregar($event)"></app-agregar-inventario>
      

    </tr>
  </tbody>
</table>