<nav>
    <button mat-button color="" (click)='sideNav()'><mat-icon>menu</mat-icon> Menu</button>

    <div id="userName">


    </div>
</nav>

<div class="sideNav" [@menu]='stateMenu'>
    <div style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYiLcbhsWY4HlvDpIMKzJP2OB-QG0yYopa1_lhsgA7CErzcxkG)" id="userInfSection">
        <div>
            <img src="https://www.w3schools.com/w3css/img_avatar3.png">
            <p>{{userData.getName() | lowercase}}</p>
            <p id="emailInf">{{userData.getEmail() | lowercase}}</p>
            <div id="userTypeInf">
                <p *ngIf="userData.getUserType() == 1">Cajero</p>
                <p *ngIf="userData.getUserType() == 2">Administrador</p>
                <p *ngIf="userData.getUserType() == 3">Super Administrador</p>
                <p>Caja: <strong>${{ userData.getCash() }}</strong></p>
            </div>

        </div>
    </div>

    <h5>APLICACIÓN</h5>
    <ul>

        <li [routerLink]="['/sale-point']" class="pcView">
            <button mat-button>Punto de Venta <span class="notified">{{ userData.getSalesErrorConnection() }}</span></button>
        </li>


        <li [routerLink]="['/inventory']" class="pcView">
            <button mat-button>Inventario</button></li>



        <li [routerLink]="['/sales']" class="pcView">
            <button mat-button>Ventas</button>
        </li>

        <li *ngIf="userData.getUserType() > 1" [routerLink]="['/employers']" class="pcView">
            <button mat-button>Usuarios</button>
        </li>


        <!-- CLICK PARA MOVIL -->

        <a (click)="redirect('/sale-point')" class="movilView">
            <li><button mat-button>Punto de Venta <span class="notified">{{ userData.getSalesErrorConnection() }}</span></button></li>
        </a>

        <a (click)="redirect('/inventory')" class="movilView">
            <li><button mat-button>Inventario</button></li>
        </a>

        <a (click)="redirect('/sales')" class="movilView">
            <li><button mat-button>Ventas</button></li>
        </a>

        <a *ngIf="userData.getUserType() > 1" (click)="redirect('/employers')" class="movilView">
            <li><button mat-button>Usuarios</button></li>
        </a>

    </ul>
    <h5>USUARIO</h5>
    <ul>
        <li [routerLink]="['/perfil']" class="pcView"><button mat-button>Perfil</button></li>
        <a (click)="redirect('/perfil')" class="movilView">
            <li><button mat-button>Perfil</button></li>
        </a>
        <li><button mat-button (click)="cerrarSesion()">Cerrar Sesión</button></li>
        <!-- <li><button md-button>Perfil</button></li> -->
    </ul>


</div>

<div class="principal" [@space]="statePanel">
    <div class="principalCard">
        <router-outlet></router-outlet>

    </div>

</div>