<nav>
    <button mat-button color="" (click)='sideNav()'><mat-icon>menu</mat-icon> Menu</button>

    <div id="userName">


    </div>
</nav>

<div class="sideNav" [@menu]='stateMenu'>
    <div style="background-image: url(http://planoinformativo.com/stock12/image/2015/Agosto/25/tiendas.jpg)" id="userInfSection">
        <div>
            <img src="https://www.w3schools.com/w3css/img_avatar3.png">
            <p>{{userData.userName | lowercase}}</p>
            <p id="emailInf">{{userData.userEmail | lowercase}}</p>
            <p *ngIf="userData.userType == 1" id="userTypeInf">Caja</p>
            <p *ngIf="userData.userType == 2" id="userTypeInf">Administrador</p>
            <p *ngIf="userData.userType == 3" id="userTypeInf">Super Administrador</p>
        </div>
    </div>

    <h5>APLICACIÓN</h5>
    <ul>
        <li><button mat-button (click)="inventarioView()">Inventario</button></li>

    </ul>
    <h5>USUARIO</h5>
    <ul>
        <li><button mat-button (click)="cerrarSesion()">Cerrar Sesión</button></li>
        <!-- <li><button md-button>Perfil</button></li> -->
    </ul>


</div>

<div class="principal" [@space]="statePanel">
    <div class="principalCard">
        <router-outlet></router-outlet>
        <!-- <app-sale-point></app-sale-point>
        <app-inventory [products]="products"></app-inventory> -->


    </div>

</div>