<div class="cardSpace">

    <div class="registerCard">
        <h1>Registrate</h1>

        <form (submit)="shopForm()" *ngIf="form.shopForm" [@ScaleDown]="scaleStateForm1">

            <div>
                <label>Nombre de la tienda</label><br>
                <input [(ngModel)]="shop.name" name="name" type="text">
            </div>

            <h2>Dirección</h2>

            <div>
                <label>Calle:</label><br>
                <input [(ngModel)]="shop.street" name="street" type="text">
            </div>

            <div>
                <label>Colonia:</label><br>
                <input [(ngModel)]="shop.colony" name="colony" type="text">
            </div>

            <div>
                <label>Numero:</label><br>
                <input [(ngModel)]="shop.number" name="number" type="number">
            </div>

            <div>
                <label>Codigo Postal:</label><br>
                <input [(ngModel)]="shop.postalCode" name="postalCode" type="number">
            </div>

            <div>
                <label>Ciudad:</label><br>
                <input [(ngModel)]="shop.city" name="city" type="text">
            </div>

            <div>
                <label>Estado:</label><br>
                <input [(ngModel)]="shop.state" name="state" type="text">
            </div>

            <button type="submit" class="btn btnAccept">Aceptar</button>
        </form>

        <form (submit)="userForm()" *ngIf="form.userForm" [@ScaleDown]="scaleStateForm2">
            <h4>Crea tu Usuario</h4>

            <div>
                <label>Nombre Completo</label><br>
                <input [(ngModel)]="user.name" name="name" type="text">
            </div>

            <div>
                <label>Correo:</label><br>
                <input [(ngModel)]="user.email" name="email" type="email">
            </div>

            <div>
                <label>Numero Celular:</label><br>
                <input [(ngModel)]="user.phone" name="phone" type="tel">
            </div>

            <div>
                <label>Contraseña:</label>
                <input [(ngModel)]="user.password" name="password" type="password">
            </div>

            <button type="submit" class="btn btnAccept">Registrarse</button>

        </form>
        <div class="loginLink">
            <p>¿Ya eres miembro? <a [routerLink]="['/login']">Iniciar sesión</a></p>
        </div>
    </div>

</div>